@model List<Seminovos.Models.CadastroProduto>
@{ 
    ViewBag.Title = "Cadastro de Produtos";
}
<style>
    #grid-cadastro > thead > tr th:nth-child(2) {
        width: 300px;
    }

    #grid-cadastro > thead > tr th:nth-child(3) {
        width: 300px;
    }

    #cadastro {
        width: 80%;
        margin: 0 auto;
    }

    #cadastro_cabecalho {
        border-bottom: 1px #dddddd solid;
    }

    #cadastro_conteudo {
        margin-top: 20px;
    }

    #cabecalho_grid {
        margin-bottom: 20px;
    }
</style>
<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
        </section>
    <section id="cadastro_conteudo">
                    <div id="cabecalho_grid" class="row">
                        <div class="col-md-12">
                            <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>Incluir</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="grid-cadastro" class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Placa</th>
                                    <th>Modelo</th>
                                    <th>Situação</th>
                                    <th>Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Placa</td>
                                            <td>@item.Modelo</td>
                                            <td>@item.SituacaoCarro</td>
                                            <td>
                                                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar </a>
                                                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir </a>
                                            </td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
    </section>
</div>

